
<div class="container m-3">
  <div class="row">
    <div class="col-sm-12">

<div class="card-trip">
<<<<<<< HEAD
  <%= cl_image_tag @vehicule.photo.key, height: 300, width: 400, crop: :fill if @vehicule.photo? %>
=======
  <% if @vehicule.photo.attached? %>
  <%= cl_image_tag @vehicule.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <img src="https://images.unsplash.com/photo-1543599723-86e84893ebba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80" height="300" width="400" />
  <% end %>
>>>>>>> master
  <div class="card-trip-infos">
    <div>
      <h2><%= @vehicule.title %></h2>
      <h2>Description : <%= @vehicule.description %></h2>
      <h2>Capacité : <%= @vehicule.capacity %> personnes</h2>
      <h2>Localisation : <%= @vehicule.address %> - <%= @vehicule.city %> - <%= @vehicule.country %></h2>
      <h2>Permis nécessaire ?<% if @vehicule.permit %>
        oui
        <% else %>
        non
        <% end %>
      </h2>
      <h2>Véhicule disponible ? <% if @vehicule.availability %>
        oui
        <% else %>
        non
        <% end %>
      </h2>
    </div>
    <h2 class="card-trip-pricing"><%= @vehicule.daily_price %> €</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>








    </div>
  </div>
  <div class="col-sm-12">
      <%= link_to 'Come back to the list', vehicules_path(@vehicules) %><br>
      <%= link_to 'Edit the vehicule', vehicule_path %><br>
  </div>
</div>

